include "outputs.kdl"
include "workspaces.kdl"
include "input.kdl"
include "layout.kdl"
include "startup.kdl"
include "misc.kdl"
include "window-rules.kdl"
include "layer-rules.kdl"
include "binds.kdl"
