include "/etc/niri/outputs.kdl"

prefer-no-csd
hotkey-overlay { skip-at-startup; }

window-rule {
	open-on-output "HDMI-A-1"
	open-focused true
	open-fullscreen true
}

spawn-sh-at-startup "@regreet@; @niri@ msg action quit --skip-confirmation"
