// https://zellij.dev/documentation/options.html

show_startup_tips false
on_force_close "quit"

session_serialization false
session_name "main"
attach_to_session true
mirror_session false

copy_on_select true
scrollback_lines_to_serialize 1000


default_layout "default"
default_mode "normal"
simplified_ui false
pane_frames true

theme "kanagawa"

ui {
	pane_frames {
		hide_session_name true
	}
}

keybinds {
	session {
		unbind "d"
		unbind "s"
		unbind "c"
		unbind "p"
		unbind "l"
	}
}
